*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header,main{
    width: 80%;
    max-width: 1400px;
    margin:  0 auto;
 }
nav{
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-head{
    font-size: 2rem;

}
ul{
    display: flex;
    gap: 50px;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 21px;
    color: black;
    font-weight: 600;
    transition: .4s ease-in-out;
}
li a:hover{
    color: rgba(0, 0, 0, 0.404);
}

/* hero */
.horo-text{
    /* width: 100%; */
    text-align: center;
    justify-items: center;
    margin-top: 50px;
}
.horo-text h1{
    font-size: 2.6rem;
}
.horo-text p{
    font-size: 17px;
    color: gray;
    margin-top: 10px;
}
.btn{
    margin-top: 12px;
    padding: 7px 12px;
    font-size: 17px;
    border: none;
    color: white;
    border-radius: 8px;
    background-color: rgb(255, 166, 0);
    transition: .4s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    color: black;
}

.hero-img img{
    margin-top: 30px;
    width: 100%;
}

/* features */
.features-container{
    margin-top: 50px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.features-img{
    margin-left:2rem;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.features-img img{
    height: 11rem;
    width: 11rem;
}
.features-text .of-our{
    color: black;
}
.features-text .features{
    color: orange;
}
.features-text h1{
    color: gray;
    font-size: 2.2rem;
}
.features-text p{
    color: gray;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* features love & will */
.love-head h1{ 
    margin-top: 4rem;
    padding-left: 12px;
    font-size: 2rem;
    border-left:  3px solid orange;
}
.love-will-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.love-01{
   margin: 30px;
}
.love-01 h1{
    /* margin: 40px; */
    font-size:1.2rem ;
}
.love-01  p{
    font-size: 15px;
    color: gray;
}
.love-will-img img{
    width: 100%;
}
.love-will-img .btn{
    padding: 12px 15px;
    font-size: 22px;
}
